<nav class="bg-color-blanc-custom shadow-custom">
  <div class="max-w-7xl mx-auto px-4">
    <div class="flex justify-between h-16">
      <div class="flex">
        <!-- Logo -->
        <div class="flex-shrink-0 flex items-center">
          <a routerLink="/" class="text-2xl font-bold text-tropical-vibes"
            >CocktailRecipes</a
          >
        </div>

        <!-- Navigation Links -->
        <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
          <a
            routerLink="/"
            routerLinkActive="border-tropical-vibes text-gray-900"
            [routerLinkActiveOptions]="{ exact: true }"
            class="inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium border-transparent text-gray-600 hover:border-tropical-vibes hover:text-tropical-vibes"
          >
            Accueil
          </a>
          <a
            routerLink="/recettes"
            routerLinkActive="border-tropical-vibes text-gray-900"
            class="inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium border-transparent text-gray-600 hover:border-tropical-vibes hover:text-tropical-vibes"
          >
            Nos Recettes
          </a>
          <a
            routerLink="/about"
            routerLinkActive="border-tropical-vibes text-gray-900"
            class="inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium border-transparent text-gray-600 hover:border-tropical-vibes hover:text-tropical-vibes"
          >
            À propos
          </a>
        </div>
      </div>

      <!-- Login Button Desktop -->
      <div class="hidden sm:flex sm:items-center">
        <a
          routerLink="/login"
          class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-tropical-vibes hover:bg-opacity-90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-tropical-vibes"
        >
          Se connecter
        </a>
      </div>

      <!-- Mobile menu button -->
      <div class="flex items-center sm:hidden">
        <button
          (click)="toggleMenu()"
          class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-tropical-vibes hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-couleur-accent"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="h-6 w-6"
            [class.hidden]="isMenuOpen"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
          <svg
            class="h-6 w-6"
            [class.hidden]="!isMenuOpen"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  <div class="sm:hidden" [class.hidden]="!isMenuOpen">
    <div class="pt-2 pb-3 space-y-1">
      <a
        routerLink="/"
        routerLinkActive="bg-color-blanc-custom border-tropical-vibes text-tropical-vibes"
        [routerLinkActiveOptions]="{ exact: true }"
        class="block pl-3 pr-4 py-2 border-l-4 text-base font-medium border-transparent text-gray-600 hover:bg-color-blanc-custom hover:border-tropical-vibes hover:text-tropical-vibes"
      >
        Accueil
      </a>
      <a
        routerLink="/recettes"
        routerLinkActive="bg-color-blanc-custom border-tropical-vibes text-tropical-vibes"
        class="block pl-3 pr-4 py-2 border-l-4 text-base font-medium border-transparent text-gray-600 hover:bg-color-blanc-custom hover:border-tropical-vibes hover:text-tropical-vibes"
      >
        Nos Recettes
      </a>
      <a
        routerLink="/about"
        routerLinkActive="bg-color-blanc-custom border-tropical-vibes text-tropical-vibes"
        class="block pl-3 pr-4 py-2 border-l-4 text-base font-medium border-transparent text-gray-600 hover:bg-color-blanc-custom hover:border-tropical-vibes hover:text-tropical-vibes"
      >
        À propos
      </a>
      <a
        routerLink="/login"
        class="block pl-3 pr-4 py-2 border-l-4 text-base font-medium border-transparent text-tropical-vibes hover:bg-color-blanc-custom hover:border-tropical-vibes"
      >
        Se connecter
      </a>
    </div>
  </div>
</nav>
